html{
    background-color: #393e42;
}

.watermark{
    content:"";
    opacity: 0.3;
    position:fixeed;
    color:aliceblue;
    top:auto;
    left: 80%;
}
h1{
    font-size: 110px;
    color: 3E362E;
    width: 80px;
    text-shadow: 4px 4px greenyellow;
}

h1:hover{
    color:rgb(255, 255, 255);
}

.grid-container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
}

.grid-container a{
    color:black;
}

.grid-container a:hover {
    color:rgb(14, 204, 77);
    background-color: black;
}

.grid-item{
    background-color:#376E6F;
    padding: 15px;
    font-size: 25px;
    text-align: center;
}

#home span{
    text-align: left;
    font-style: italic ;
    color:rgb(255, 255, 255);
    font-size: 90px;
    text-shadow: 2px 4px black;
}

#home p{
    font-size: 22px;
}

img{
    border-radius:80%;
    height: 200px;
    width: 200px;
}

.left {
    background-color: #BAB2B5;
    float: left;
    width: 33%; 
    padding-bottom: 30px;
}

.right {
    background-color:#747474;
    float:inline-start;
    width: 33%;
    padding-bottom: 44px;
}

.center{
    background-color:#C5CBE3;
    float: inline-start;
    width: 33%;
    padding-bottom: 77px;
}
.centered{
    text-align: center;
    padding-bottom: 50px;
}

h2{
    text-align: center;
}

.work{
    background-color: rgb(197, 183, 161);
    font-size: 25px;
    width:20%;
    border-radius: 20px;
    text-align: center;
    padding-bottom:30px;
}

.work ul{
    font-size:20px;
    text-align:left;
}

.fix{
    background-color: white;
    border-radius: 20px;
    color:black;
    text-align: center;
    width:25%;
    float:center; 
}

#contact a ion-icon{
    font-size: 100px;
    color:white;
}

.fix ion-icon{
    color:black;
}